{% extends "pages/BackApp/admin.html.twig" %}
{% block Container %}
     <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">bread</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table bread</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-dark  table-hover table-info" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>nom</th>
                      <th>Prix</th>
                      <th>date d'ajout</th>
                      <th>Supprimer Ou ajouter</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for bread in breads  %} 
                    <tr>

                      <td>{{bread.id}}</td>
                      <td>{{bread.name}}</td>
                      <td>{{bread.price}}</td>
                      <td>{{bread.createdAt|date("d-m-Y | H:i:s")}}</td> 
                      <td>
                      <a class="btn btn-large btn-xs btn-danger m-2" href="{{ path('deleteBread',{id: bread.id}) }}" onClick="return confirm('Voulez vous supprimmer ?');" role="button">Supprimer</a>
                      <a class="btn btn-large btn-xs btn-warning" href="" onClick="return confirm('Voulez vous supprimmer ?');" role="button">Editer</a>
                    </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a class="btn btn-primary"href="{{path('addBread')}}" role="button">Ajouter Un pain</a>
              </div>
            </div>
          </div>

        </div>
{% endblock %}