{% extends "pages/BackApp/admin.html.twig" %}
{% block Container %}

{{ form_start(form) }}

  <div class="row">

  <div class="col-md-6">

  <div class="form-group">
    <label for="pwd">Name:</label>
     {{ form_widget(form.name,{ 'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    <label for="pwd">Price:</label>
     {{ form_widget(form.price,{ 'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    <label for="pwd">Etat:</label>
     {{ form_widget(form.statement,{ 'attr': {'class': 'form-control'}}) }}
  </div>
  
  <div class="col-md-6">
    <div class="pull-right">
     <button type="submit" class="btn btn-primary">Enregistrer</button>
   </div>
  </div>

    
  </div>

    
  </div>
  
{{ form_end(form) }}

{% endblock Container %}