{% extends "pages/BackApp/admin.html.twig" %}
{% block Container %}
     <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">sandwich</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table sandwich</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-dark  table-hover table-info" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>nom</th>
                      <th>Prix</th>
                      <th>date d'ajout</th>
                      <th>Supprimer Ou Editer</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% set i=0 %}
                  {% for sandwich in sandwichs  %} 
                 
                      <td>{{sandwich.id}}</td>
                      <td>{{sandwich.name}}</td>
                      <td>{{prices[i]}}</td>
                      <td>{{sandwich.createdAt|date("d-m-Y | H:i:s")}}</td> 
                      <td><a class="btn btn-large btn-xs btn-danger m-2" href="{{ path('deleteSandwich',{id: sandwich.id}) }}" onClick="return confirm('Voulez vous supprimmer ?');" role="button">Supprimer</a>
                        <a class="btn btn-large btn-xs btn-warning" href="" role="button">Editer</a></td>

                   


                    </tr>
                    {% set i=i+1 %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <a class="btn btn-primary"href="{{path('addSandwich')}}" role="button">Ajouter Un Sandwich</a>
        </div>
{% endblock %}